@import '@/styles/variables.scss';

.filters {
  position: fixed;
  right: -30vw;
  top: 0;
  height: 100vh;
  width: 25vw;
  background-color: #fff;
  z-index: $z-index-9;
  border-left: 1px solid #000;
  padding: 30px;
  transition: all 300ms linear;
  &Display {
    right: 0;
  }
  @include respond-to('large') {
    width: 42vw;
    right: -42vw;
    &Display {
      right: 0;
    }
  }
  @include respond-to('medium') {
    width: 48vw;
    right: -48vw;
    &Display {
      right: 0;
    }
  }

  @include respond-to('small') {
    padding: 20px 15px;
    width: 82vw;
    right: -100vw;
    &Display {
      right: 0;
    }
  }
  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    user-select: none;
    h2 {
      font-size: 14px;
    }
    button {
      width: 20px;
      img {
        max-width: 100%;
      }
    }
  }
  &Item {
    position: relative;
    user-select: none;
    font-size: 13px;
    margin: 0 0 15px 0;
    label {
      margin: 0 0 0 0;
      display: inline-block;
      cursor: pointer;
    }
    .checkbox {
      border: 1px solid black;
      height: 17px;
      width: 17px;
      display: inline-block;
      position: relative;
      top: 4px;
      cursor: pointer;
      margin: 0 10px 0 0;
    }
    .radio {
      border: 1px solid black;
      height: 17px;
      width: 17px;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      top: 4px;
      cursor: pointer;
      margin: 0 10px 0 0;
    }
    input[type='radio'],
    input[type='checkbox'] {
      &:focus {
        label {
          border-bottom: 1px solid red;
        }
      }
    }
    input[type='radio']:checked + label span {
      background-color: black;
    }
    input[type='radio'] {
      opacity: 0;
      width: 0px !important;
    }
    input[type='checkbox'] {
      opacity: 0;
      width: 0px !important;
    }
    input[type='checkbox']:checked + label span {
      background-color: black;
    }
  }
  &Groups {
    margin: 30px 0 0 0;
  }
  &Group {
    margin: 0 0 45px 0;
    &List {
      // column-count: 3;
      position: relative;
    }
    h3 {
      font-size: 12px;
      margin: 0 0 20px 0;
      line-height: 1.5em;
      font-family: 'AvenirLTPro-Light';
      @include respond-to('small') {
        margin: 0 0 10px 0;
      }
      > span {
        display: block;
        border-bottom: 0.5px solid black;
        max-width: 115px;
        margin: 5px 0 0 0;
      }
    }
  }
}

.bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $z-index-8;
  transition: opacity 300ms linear;
  pointer-events: none;
}
