.text {
    position: relative;
    padding: 50px 0;
    max-width: 1000px;
    margin: 0 auto;
    h2 {
        font-size: 26px;
        text-align: center;
        margin: 0 0 40px 0;
        
    }
    h3 {
        font-size: 21px;
        line-height: 1.2em;
        margin: 40px 0 15px 0;
    }
    p {
        line-height: 1.8em;
        font-size: 14px;
        margin: 0 0 15px 0;
        strong {
            font-size: 16px;
        }
    }

    a {
        border-bottom: 1px solid black;
    }
    
    ul {
        
        li {
            margin: 0 0 10px 0;
            // border-bottom: 1px solid black;
            // padding: 0 0 20px 0;
        }
    }
}