@import '@/styles/variables.scss';

.productList {
  position: relative;
  max-width: 1450px;
  margin: 0 auto;
  min-height: 80vh;
  &LoadMore {
    position: relative;
    display: flex;
    width: 100%;
    white-space: nowrap;
    justify-content: flex-end;
    margin: 60px 0 60px 0;
    padding: 0 35px;
    img {
      display: inline-block;
      margin: 0 0 0 20px;
    }
  }

  &Loading,
  &NoResults {
    min-height: 80vh;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Loader {
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
    > span {
      background-color: black;
      color: #fff;
      display: inline-block;
      padding: 6px 10px 5px 10px;
      line-height: 1em;
    }
  }

  &List {
    position: relative;

    &Row {
      &Four {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      &Five {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
      display: grid;
      margin: 40px 0 40px 0;
      // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 10px;
      row-gap: 15px;
      @include respond-to('medium') {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include respond-to('small') {
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
